body
{
    background-color:rgb(28,7,47); 
    color:#ffffff; 
}
.accueil 
{
 font-family:'Times New Roman', Times, serif;
 width: 75%;
}
p,h1,h2,h3,h4,h5 {
    text-align: left;
    word-spacing: normal;
    letter-spacing: normal;
    line-height: 1.6; /* Ajuster la hauteur de ligne pour améliorer la lisibilité */
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
  } 
.accueil {
    width:75%;
}
@media (max-width:760px){
    .accueil {
        width:auto;
    }
}